:root {
  font-family: "freeman", system-ui;
  font-size: 16px;
  color: rgb(206, 30, 30);
}

body {
  display: grid ;
  justify-content: center;
  margin: 0px;
}
.container {
  display: grid;
  grid-template-columns: 30% 70%;
} 

.sidebar {
  background-image: url('../img/bobs_sidebar.jpg');
  background-size: cover;
  background-position: center;
}

.signup {
  display: grid;
  align-items: center;
  grid-template-rows: 30vh 40vh 29vh;
  background-color: #f3f8ff;
}

.signup-header {
  font-size: 1.7rem;
  margin-left: 15px;
}

.signup-form {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 10vh 10vh 10vh;
  column-gap: 5ch;
  margin: 0px;
  background-color: white;
}

.signup-footer {
  margin-left: 15px;
}

label {
  margin: 10px;
  font-size: 0.7rem;
  letter-spacing: 2px;
}

input {
  height: 25px;
  width: 40ch;
  letter-spacing: 2px;
}

fieldset{
  border: 0px;
}
legend {
  font-size: 1.5rem;
}